	#onetrust-consent-sdk #onetrust-banner-sdk #onetrust-button-group #onetrust-accept-btn-handler {
			color: #FFB12E !important;
			background-color: transparent;
			border-color: #FFB12E;
		}

		#onetrust-consent-sdk #onetrust-banner-sdk #onetrust-button-group #onetrust-accept-btn-handler:hover,
		#onetrust-consent-sdk #onetrust-banner-sdk #onetrust-button-group #onetrust-accept-btn-handler:active {
			color: #FFFFFF !important;
		}
