@import 'variables';
@import 'mixins';

#onetrust-button-group {
  display: grid;
  grid-template-columns: 190px 190px auto;
  justify-items: end;
  margin-right: 0;

  @media only screen and (max-width: $mobile-max-width) {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }

  @media only screen and (min-width: 769px), only screen and (min-width: 426px) and (max-width: 896px) {
    margin-right: 0;
  }

  & button {
    display: block;

    @media only screen and (max-width: $mobile-max-width) {
      width: 100%;
    }
  }

  #onetrust-accept-btn-handler,
  #onetrust-reject-all-handler,
  #onetrust-pc-btn-handler {
    min-width: 180px;
    min-height: 45px;
    margin-right: 0;
  }

  #onetrust-accept-btn-handler {
    @include accept_button;
    order: 3;

  }

  #onetrust-reject-all-handler {
    order: 1;
    justify-self: start;
  }

  #onetrust-pc-btn-handler {
    order: 2;
  }

  #onetrust-reject-all-handler,
  #onetrust-pc-btn-handler {
    @include button;
  }

}

.has-reject-all-button #onetrust-button-group {
  @media only screen and (min-width: 426px) and (max-width: 896px) {
    width: 100%;
  }
}


:not(.ot-leg-btn-container) > button:not(.ot-link-btn):hover,
:not(.ot-leg-btn-container) > button:not(.ot-link-btn):focus {
  opacity: 1 !important;
}

button {
  border-radius: $radius;
}