@import 'variables';

&.ot-iab-2 #onetrust-button-group {
  display: grid;
  grid-template-columns: 190px 190px auto;
  justify-items: end;
  margin-right: 0;

  @media only screen and (max-width: $mobile-max-width) {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }

  @media only screen and (min-width: 769px), only screen and (min-width: 426px) and (max-width: 896px) {
    margin-right: 0;
  }

  .has-reject-all-button & {
    @media only screen and (min-width: 426px) and (max-width: 896px) {
      width: 100%;
    }
  }

  & button {
    display: block !important;

    @media only screen and (max-width: $mobile-max-width) {
      width: 100%;
    }
  }

  #onetrust-accept-btn-handler,
  #onetrust-reject-all-handler,
  #onetrust-pc-btn-handler {
    min-width: 180px;
    min-height: 45px;
  }

  #onetrust-accept-btn-handler {
    order: 3;
    color: $white;

    &:hover {
      background-color: $dark-orange;
      border-color: $dark-orange;
    }

    &:focus {
      background-color: $dark-orange;
      border-color: $dark-orange;
    }

    @media only screen and (max-width: $mobile-max-width) {
      //position: static !important;
    }
  }

  #onetrust-reject-all-handler {
    order: 1;
  }

  #onetrust-pc-btn-handler {
    order: 2;
  }

  #onetrust-reject-all-handler,
  #onetrust-pc-btn-handler {
    color: $light-orange;
    background-color: $transparent;
    border-color: $light-orange;

    &:hover {
      color: $white;
      background-color: $dark-orange;
      border-color: $dark-orange;
    }

    &:focus {
      color: $white;
      background-color: $dark-orange;
      border-color: $dark-orange;
    }
  }

}


:not(.ot-leg-btn-container) > button:not(.ot-link-btn):hover,
:not(.ot-leg-btn-container) > button:not(.ot-link-btn):focus {
  opacity: 1 !important;
}

button {
  border-radius: $radius;
}