@import 'variables';


&.ot-iab-2 #onetrust-button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & button {
    display: block !important;
  }

  #onetrust-accept-btn-handler,
  #onetrust-reject-all-handler,
  #onetrust-pc-btn-handler {
    min-width: 180px !important;
    min-height: 45px !important;
  }

  #onetrust-accept-btn-handler {
    order: 3;
    position: absolute !important;
    right: 0 !important;

    color: $white;

    &:hover {
      background-color: $dark-orange;
      border-color: $dark-orange;
    }

    &:focus {
      background-color: $dark-orange;
      border-color: $dark-orange;
    }

    @media only screen and (max-width: 425px) {
      position: static !important;
    }
  }

  #onetrust-pc-btn-handler {
    order: 2;
  }

  #onetrust-reject-all-handler,
  #onetrust-pc-btn-handler {
    color: $light-orange;
    background-color: $transparent;
    border-color: $light-orange;

    &:hover {
      color: $white;
      background-color: $dark-orange;
      border-color: $dark-orange;
    }

    &:focus {
      color: $white;
      background-color: $dark-orange;
      border-color: $dark-orange;
    }
  }

}


:not(.ot-leg-btn-container) > button:not(.ot-link-btn):hover,
:not(.ot-leg-btn-container) > button:not(.ot-link-btn):focus {
  opacity: 1 !important;
}

button {
  border-radius: $radius;
}