@import "variables";

@mixin button-font {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

@mixin button {
  @include button-font;
  color: $light-orange;
  background-color: $transparent;
  border-color: $light-orange;
  border-radius: $radius;

  &:hover {
    color: $white;
    background-color: $dark-orange;
    border-color: $dark-orange;
		opacity: 1;
  }

  &:focus {
    color: $white;
    background-color: $dark-orange;
    border-color: $dark-orange;
		opacity: 1;
  }

}
@mixin accept_button {
  @include button-font;
  color: $white;
  border-radius: $radius;

  &:hover {
    background-color: $dark-orange;
    border-color: $dark-orange;
		opacity: 1;
  }

  &:focus {
    background-color: $dark-orange;
    border-color: $dark-orange;
		opacity: 1;
  }

}