// ----------------------- //
//          COLORS         //
// ----------------------- //
$transparent: transparent !important;
$orange: #F29800 !important;
$light-orange: #FFB12E !important;
$dark-orange:#bf7800  !important;
$dark-blue: #002B53 !important;
$white: #FFFFFF !important;
$light-grey: #F7F9FB !important;
$green: #3F872F !important;
$red: #D1352A !important;
$black: #000000 !important;
$light-black: #454545 !important;


$radius: 5px !important;

$mobile-max-width: 680px;
