@import "variables";

// ------------ Vymazať slúži iba na test ------------ //
//.App-header {
//	height: 100vh;
//	width: 100vw;
//	background-color: #fefefe;
//}
// ------------ Vymazať slúži iba na test ------------ //


#onetrust-consent-sdk {

  @import "settings-cookie.scss";

  #onetrust-banner-sdk {
    @import "buttons";

    .ot-link-btn.onetrust-vendors-list-handler {
      text-decoration-line: underline;
      color: rgba(255, 255, 255, 0.85);
    }

    & *:focus,
    &:focus {
      outline-color: $transparent;
      outline-width: 0;
    }

    &.vertical-align-content #onetrust-button-group-parent {
      @media only screen and (min-width: 897px) and (max-width: 1023px),
             only screen and (min-width: 1024px) {
        position: static;
        transform: translateY(0);
        margin-bottom: 2rem;
      }
    }

    .ot-sdk-ten.ot-sdk-columns,
    .ot-sdk-two.ot-sdk-columns {
      width: 100%;

      @media (min-width: 550px) {
        width: 100%;
        margin-left: 0;
      }
    }

    #onetrust-policy {
      margin: 4rem auto 2rem;
    }

    .ot-sdk-container {
      max-width: 1170px;
      padding: 0;

      &::after {
        height: 10px;
        width: 100%;
        background-color: $orange;
        position: absolute;
        top: 0;
        border-radius: 0 0 3px 3px;
      }

      @media (min-width: 400px) {
        width: 100%;
      }

      .ot-sdk-row {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin: 0 20px;

        &::before {
          content: '';
          position: absolute;
          left: -20%;
          width: calc(20% + 20px);
          height: 100%;
          background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
          opacity: 0.1;
        }

        &::after {
          content: '';
          position: absolute;
          right: -20%;
          width: calc(20% + 20px);
          height: 100%;
          background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
          opacity: 0.1;
          transform: matrix(-1, 0, 0, 1, 0, 0);
        }

        #onetrust-group-container, #onetrust-button-group-parent {
          max-width: 950px;
        }

        #onetrust-group-container {
          @media only screen and (max-width: $mobile-max-width) {
            overflow-y: scroll;
            height: 0;
            min-height: 240px;
            margin-bottom: 20px;
          }
        }
      }

    }

  }
}